@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.formulario{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    background-color: cornflowerblue;
}
.formulario label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 1rem 0rem 0.5rem 1rem;
}
.input-form, select{
    width: 30vw;
    margin-left:1rem;
    border: none;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 1px 1px 1px black;
    padding: 5px;
}

.checkbox-container{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.checkbox{
    border: none;
    border-radius: 5px;
    background-color: bisque;
    padding: 5px;
}

.form-button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
}
.form-button:hover{
    transform: scale(1.1);
    background-color: bisque;
}